<% provide(:title, "Home") %>
<!-- CALL TO ACTION SECTION
================================================ -->
<section>
  <div id="call-to-actions" class="silver-bg">
    <div class="row map-bg">

      <div class="twelve columns">
        <h1 class="section-title">It all starts with a Date</h1>
        <p class="lead"> Welcome to MatchMe, More than <strong>12345</strong> members around the world already shared the same experience in our system.<br> <strong>Joining us today just match you!</strong></p>

        <% if !logged_in? %>
          <!--Take action-->
          <div class="take-action">
            <ul class="button-group radius expand left">
              <li><%= link_to "SIGN UP TODAY!", signup_path, class: "button large expand alert" %></li>
            </ul>
          </div>
          <!--end take-action-->
        <% end %>
      </div><!--end twelve-->

        <!--Status Icons-->
        <div class="status three columns mobile-one">
          <div class="icon" data-animation="pulse">
            <%= image_tag("icons/steps/status_01.png", height: '149', width: '213') %>
          </div>
          <ul class="block-grid">
            <li class="title">1234</li>
            <li class="subtitle">Matched couples</li>
          </ul>
        </div>

        <div class="status three columns mobile-one">
          <div class="icon" data-animation="pulse">
            <%= image_tag("icons/steps/status_02.png", height: '149', width: '213') %>
          </div>
          <ul class="block-grid">
            <li class="title">2400</li>
            <li class="subtitle">Members</li>
          </ul>
        </div>

        <div class="status three columns mobile-one">
          <div class="icon" data-animation="pulse">
            <%= image_tag("icons/steps/status_03.png", height: '149', width: '213') %>
          </div>
          <ul class="block-grid">
            <li class="title">1200</li>
            <li class="subtitle">Women</li>
          </ul>
        </div>

        <div class="status three columns mobile-one">
          <div class="icon" data-animation="pulse">
            <%= image_tag("icons/steps/status_04.png", height: '149', width: '213') %>
          </div>
          <ul class="block-grid">
            <li class="title">1200</li>
            <li class="subtitle">Men</li>
          </ul>
        </div>
        <!--end status icons-->

    </div><!--end row map-bg-->
  </div><!--end call-to-actions-->
</section>
<!--END CALL TO ACTION SECTION-->





