<%= simple_form_for @profile, url: user_profiles_url, defaults: { error: false } do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div>
		<section>
	    <div>
        <%= render 'looking_for', f: f %>
        <%= render 'about_you', f: f %>
        <%= render 'details', f: f %>
        <%= render 'interests', f: f %>
        <%= render 'location', f: f %>
	    </div>
		</section>
		
  </div>
  <div class="center">
     <%= f.button :submit, class: "btn-info" %>
  </div>
<% end %>
     


<script src="js/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
	<script>window.jQuery || document.write('<script src="js/jquery-2.1.1.min.js"><\/script>')</script>
	<script src="js/paper-collapse.min.js"></script>
	<script>
	    $('.collapse-card').paperCollapse();
	</script>
	<script type="text/javascript">
    $(function () {
        $(".collapse-card__heading").click();
    })
</script>

<script src="/images/jquery.js"></script>



