<div class="collapse-card">
  <div class="collapse-card__heading">
      <h4 class="collapse-card__title">
          <i class="fa fa-pencil-square-o fa-2x fa-fw" aria-hidden="true"></i>
          Interests
      </h4>
  </div>
  <div class="collapse-card__body">
      <div class="col-md-12"> 
      <%= f.input :hobbies, placeholder: "3D printing, hiking, pottery, writing", input_html: { rows: 6 } %>
      </div>
      <div class="col-md-12">
      <%= f.input :movies, placeholder: "Pulp Fiction, The Godfather, Star Wars", input_html: { rows: 6 } %>
      </div>
      <div class="col-md-12">
      <%= f.input :tv_shows, placeholder: "Breaking Bad, The Wire, Rick and Morty, Game of Thrones", input_html: { rows: 6 } %>
      </div>
      <div class="col-md-12">
      <%= f.input :music, placeholder: "The Beatles, Miles Davis, Queen", input_html: { rows: 6 } %>
      </div>
      <div class="col-md-12">
      <%= f.input :books, placeholder: "Rails Tutorial, The Great Gatsby, To Kill a Mockingbird", input_html: { rows: 6 } %>
      </div>
      <div class="col-md-12">
      <%= f.input :games, placeholder: "Legend of Zelda, World of Warcraft", input_html: { rows: 6 } %>
      </div>
      <div class="col-md-12">
      <%= f.input :sports, placeholder: "Football, baseball, cricket", input_html: { rows: 6 } %>
      </div>
      <div class="collapse-card__close_handler mt1 align-right mouse-pointer">
          Show less <i class="fa fa-chevron-up"></i>
      </div>
  </div>
</div>