<% provide(:title, "Log in") %>
<div class="row">
  <div class="six columns col-md-offset-3">
  <div class=" panel panel-dafult">
    <h3 class="pink-text center">Log in</h3>
  
  <div>
    <div class="panel-body none-padding">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
     <div class = "twelve columns">
        <div class="left">
      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
      <% end %>
      </div>
      <div class="right">
          <p>New user? <%= link_to "Sign up now!", signup_path %></p>
      </div>
    </div>
    <div>
      <%= f.submit "Log in", class: "btn btn-info btn-lg btn-block" %>
    <% end %>
    </div>
    </div>
  </div>
  </div>
  </div>
</div>
  
