<%= simple_form_for @user, defaults: { error: false, input_html: { class: 'form-control' } } do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
    <div class="form-group">
      <h4>Account information</h4>
      <%= f.input :email %>
      <%= f.input :password, hint: "Must contain numbers and letters." %>
      <%= f.input :password_confirmation, label: "Confirm password" %>
    </div>
  <%= f.submit yield(:button_text), class: "btn btn-info btn-lg btn-block" %>
<% end %>