<section>
  <div id="profile">
    <div class="row">
      <div class="four columns">
      <% if @profile.picture? %>
          <%= link_to '#', data: { toggle: "modal", target: ".bs-example-modal-lg" } do %>
            <%= display_thumbnail(@profile) %>
          <% end %>
        <% else %>
          <%= display_thumbnail(@profile) %>
        <% end %>
      </div>
      <div class="eight columns">
        <h2 class="sweetfont left"><%=@profile.name %> </h2>
        <hr>
        <% unless @user.admin? %>
          <h6 class="subheader"><%= "#{@profile.age} • #{@profile.city}, #{@profile.country}" %></h6>
        <% end %>
        <% if @user != current_user && has_match?(@user, @matches) %>
          <h3 class="pink-text"><%= get_match_percent(@user, @matches) %>% match</h3>
        <% end %>
      </div>
    </div>
  </div>
</section>