<% provide(:title, 'Edit profile') %>
<section>
  <div id="feature-text" class="text-center">
    <div class="row">
      <div class="twelve columns">
        <h3 class="pink-text"><i class="fa fa-pencil"></i> EDIT PROFILE</h3>
          <%= form_for(@user) do |f| %>
            <%= render 'shared/error_messages' %>
            
            <div class="form-section">
              <h4>Profile Information</h4>
              <%= f.label :first_name, "First name" %>
              <%= f.text_field :first_name, class: 'form-control' %>
              
              <%= f.label :last_name, "Last name" %>
              <%= f.text_field :last_name, class: 'form-control' %>
            
              <%= f.label :date_of_birth, "Date of birth" %>
              <%= f.date_field :date_of_birth, class: 'form-control' %>
              
              <%= f.label :occupation, "Occupation" %>
              <%= f.text_field :occupation, class: 'form-control' %>
            
              <%= f.label :religion, "Religion" %>
              <%= f.select :religion, ["Agnosticism", "Atheism", "Christianity", "Judaism", "Catholicism", "Islam", "Buddhism", "Hinduism", "Sikh", "Other"], class: 'form-control' %>
              
              <%= f.label :gender, "Gender" %>
              <%= f.select :gender, ["male", "female"], class: 'form-control' %>
                     
              <%= f.label :self_summary, "Self-summary" %>     
              <%= f.text_area :self_summary, class: 'form-control' %>
            </div>
            
            <div class="form-section">
              <h4>Location</h4>
              
              <%= f.label :city, "City" %> 
              <%= f.text_field :city, class: 'form-control' %>
              
              <%= f.label :post_code, "Postal / zip code" %> 
              <%= f.text_field :post_code, class: 'form-control' %>
      
              <%= f.label :country, "Country" %>
              <%= f.country_select :country, priority_countries: ["AU", "US", "GB", "CA", "NZ"], class: 'form-control' %>
            </div>
            
            <div class="form-section">
              <h4>What you're looking for</h4>
              <%= f.label :preferred_gender, "Preferred gender" %>
              <%= f.select :preferred_gender, ["male", "female", "both"], class: 'form-control' %>
              
              <%= f.label :looking_for, "Match type" %>
              <%= f.select :looking_for, ["new friends", "dating", "casual sex"], class: 'form-control' %>
              
              <%= f.label :min_age, "Age between..." %>
              <%= f.select :min_age, (18...120).to_a, class: 'form-control' %>
              <%= f.label :max_age, "to" %>
              <%= f.select :max_age, (18...120).to_a, class: 'form-control' %>
            </div>
            
            <div class="form-section">
              <h4>Account Information</h4>
              
              <%= f.label :email, "Email" %> 
              <%= f.email_field :email, class: 'form-control' %>
        
              <%= f.label :password, "Password" %> 
              <%= f.password_field :password, class: 'form-control' %>
        
              <%= f.label :password_confirmation, "Confirm password" %> 
              <%= f.password_field :password_confirmation %>
            </div>
      
            <%= f.submit "Save changes", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</section>