<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: signup_path) do |f| %>
      <%= render 'shared/error_messages' %>
    
      <%= f.label :gender, "I am a" %>
      <%= f.select :gender, ["Man", "Woman"], class: 'form-control' %>
      
      <%= f.label :preferred_gender, "Looking for" %>
      <%= f.select :preferred_gender, ["A man", "a woman", "Both"], class: 'form-control' %>
      
      <%= f.label :min_age, "Ages..." %>
      <%= f.number_field :min_age, class: 'form-control' %>
      
      <%= f.label :max_age, "to" %>
      <%= f.number_field :max_age, class: 'form-control' %>
      
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: 'form-control' %>
      
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: 'form-control' %>
      
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      
      <%= f.label :date_of_birth %>
      <%= f.date_field :date_of_birth, class: 'form-control' %>
      
      <%= f.label :orientation %>
      <%= f.select :orientation, ["Straight", "Gay", "Bisexual", "Other"], class: 'form-control' %>
      
      <%= f.label :occupation %>
      <%= f.text_field :occupation %>
      
      <%= f.label :religion %>
      <%= f.select :religion, ["Agnosticism", "Atheism", "Christianity", "Judaism", "Catholicism", "Islam", "Buddhism", "Hinduism", "Sikh", "Other"], class: 'form-control' %>
      
      <%= f.label :city %>
      <%= f.text_field :city, class: 'form-control' %>
      
      <%= f.label :post_code %>
      <%= f.text_field :post_code, class: 'form-control' %>
      
      <%= f.label :country %>
      <%= f.country_select :country, priority_countries: ["AU", "US", "GB", "CA", "NZ"], class: 'form-control' %>
      
      <%= f.label :self_summary %>
      <%= f.text_area :self_summary, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>