<% provide(:title, 'Sign up') %>
<section>
  <div id="feature-text" class="text-center">
    <div class="main">
    <div class="container">
      <div class="navigation">
        
        <div class="twelve columns push-one">
          
          <h3 class="pink-text"><i class="icon-magic icon-large"></i> CREATE ACCOUNT</h3>
          
          
    <div class="row">
      <div class="col-md-2"></div>
        <div class="col-md-8">
          <%= form_for(@user, url: signup_path, id: "register_form", class: "form-horizontal" ) do |f| %>
          <%= render 'shared/error_messages' %>
            <div class="form-group">
              <h4>Account information</h4>
              <%= f.label :email, class: 'col-sm-2 control-label' %>
              <div class="col-sm-10">
                <%= f.email_field :email, class: 'form-control', placeholder: "john@example.com" %>
              </div>
              <%= f.label :password, class: 'col-sm-2 control-label' %>
              <div class="col-sm-10">
                <%= f.password_field :password, class: 'form-control', placeholder: "A-Z,a-z,0-9" %>
              </div>
              <%= f.label :password_confirmation, "Confirm password", class: 'col-sm-2 control-label' %>
              <div class="col-sm-10">
                <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Confirm password" %>
              </div>
            </div>

        <%= f.fields_for :profile do |p| %>
        
            <div class="form-group">
              <h4>About You</h4>
              <%= p.label :first_name, class: 'col-sm-2 control-label' %>
              <div class="col-sm-10">
                <%= p.text_field :first_name, class: 'form-control', placeholder: 'First Name' %>
              </div>
              
              <%= p.label :last_name, class: 'col-sm-2 control-label' %>
              <div class="col-sm-10">
                <%= p.text_field :last_name, class: 'form-control', placeholder: 'Last Name' %>
              </div>
              
              <%= p.label :gender, class: 'col-sm-2 control-label' %>
              <div class="col-sm-10">
                <%= p.select :gender, options_for_select(["Male", "Female"]), {include_blank: true}, { class: 'form-control' } %>
              </div>
              
              <%= p.label :date_of_birth, class: 'col-sm-2 control-label' %>
              <div class="col-sm-10">
                <%= p.date_field :date_of_birth, class: 'form-control' %>
              </div>
              
              <%= p.label :occupation, class: 'col-sm-2 control-label' %>
              <div class="col-sm-10">
                <%= p.text_field :occupation, class: 'form-control', placeholder: "Occupation" %>
              </div>
              
              <%= p.label :religion, class: 'col-sm-2 control-label' %>
              <div class="col-sm-10">
                <%= p.select :religion, options_for_select(["Agnosticism", "Atheism", "Christianity", "Judaism", "Catholicism", "Islam", "Buddhism", "Hinduism", "Sikh", "Other"]), {include_blank: true}, { class: 'form-control'} %>
              </div>
              
              <%= p.label :smoke, class: 'col-sm-2 control-label' %>
              <div class="col-sm-10">
                <%= p.select :smoke, options_for_select(["yes", "sometimes", "no"]), {include_blank: true}, { class: 'form-control' } %>
              </div>
                
              <%= p.label :drink, class: 'col-sm-2 control-label' %>
              <div class="col-sm-10">
                <%= p.select :drink, options_for_select(["not at all", "socially", "often"]), {include_blank: true}, { class: 'form-control' } %>
              </div>
              
              <%= p.label :edu_status, "Education", class: 'col-sm-2 control-label' %>
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-sm-5">
                    <%= p.select :edu_status, options_for_select(["Dropped out of", "Working on", "Completed"]), {include_blank: true}, { class: 'form-control' } %>
                  </div>
                  <div class="col-sm-5">
                    <%= p.select :edu_type, options_for_select(["high school", "two-year college", "university", "post grad"]), {include_blank: true}, { class: 'form-control' } %>
                  </div>
                </div>
              </div>
              
              <%= p.label :self_summary, class: 'col-sm-2 control-label' %>
              <div class="col-sm-10">
                <%= p.text_area :self_summary, class: 'form-control', placeholder: 'Self-summary', rows: '8' %>
              </div>
              
              <%= p.label :picture, "Add a photo (optional)", accept: 'image/jpeg,image/png', class: 'col-sm-2 control-label' %>
              <div class="col-sm-10">
                <%= p.file_field :picture %>
              </div>
              
            </div>
            
            <div class="form-group">
              <h4>Interests</h4>
                <%= p.label :movies, "Movies", class: 'col-sm-2 control-label' %>
                <div class="col-sm-10">
                  <%= p.text_area :movies, class: 'form-control', rows: '6', placeholder: 'The Godfather, Pulp Fiction, Star Wars' %>
                </div>
                
                <%= p.label :tv_shows, "TV Shows", class: 'col-sm-2 control-label' %>
                <div class="col-sm-10">
                  <%= p.text_area :tv_shows, class: 'form-control', rows: '6', placeholder: 'Breaking Bad, Rick and Morty, Game of Thrones, The Walking Dead' %>
                </div>
                
                <%= p.label :books, "Books", class: 'col-sm-2 control-label' %>
                <div class="col-sm-10">
                  <%= p.text_area :books, class: 'form-control', rows: '6', placeholder: 'The Great Gatsby, To Kill a Mockingbird, Harry Potter' %>
                </div>
                
                <%= p.label :games, "Games", class: 'col-sm-2 control-label' %>
                <div class="col-sm-10">
                  <%= p.text_area :games, class: 'form-control', rows: '6', placeholder: 'Legend of Zelda, Mario Kart, World of Warcraft' %>
                </div>
                
                <%= p.label :sports, "Sports", class: 'col-sm-2 control-label' %>
                <div class="col-sm-10">
                  <%= p.text_area :sports, class: 'form-control', rows: '6', placeholder: 'Baseball, cricket, water polo' %>
                </div>
            </div>
            
            <div class="form-group">
              <h4>Location</h4>
                <%= p.label :city, class: 'col-sm-2 control-label' %>
                <div class="col-sm-10">
                  <%= p.text_field :city, class: 'form-control', placeholder: "City" %>
                </div>
                
                <%= p.label :post_code, class: 'col-sm-2 control-label' %>
                <div class="col-sm-10">
                  <%= p.text_field :post_code, class: 'form-control', placeholder: "Post code" %>
                </div>
                
                <%= p.label :country, class: 'col-sm-2 control-label' %>
                <div class="col-sm-10">
                  <%= p.country_select :country, { priority_countries: ["AU", "US", "GB", "CA", "NZ"], include_blank: true }, { class: 'form-control' } %>
                </div>
            </div>
            
          <h4>What you're looking for</h4>
            <%= p.label :preferred_gender, "I am looking for...", class: 'control-label' %>
            <%= p.select :preferred_gender, options_for_select(["Male", "Female", "Both"]), {include_blank: true}, { class: 'form-control' } %>
          
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= p.label :min_age, "ages...", class: 'col-sm-2 control-label' %>
                <div class="col-md-10">
                  <%= p.select :min_age, options_for_select((18...121).to_a), {include_blank: true}, { class: 'form-control' } %>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <%= p.label :max_age, "to", class: 'col-sm-2 control-label' %>
                <div class="col-md-10">
                  <%= p.select :max_age, options_for_select((18...100).to_a), {include_blank: true}, { class: 'form-control' } %>
                </div>
              </div>
            </div>
          </div>
              
                <!--<%= p.label :nearby, "near me", class: 'col-sm-2 control-label' %>-->
                <!--<div class="col-sm-10">-->
                <!--  <%= p.check_box :nearby %>-->
                <!--</div>-->
                
          <%= p.label :looking_for, "for", class: 'col-sm-2 control-label' %>
          <div class="col-md-10">
            <%= p.select :looking_for, options_for_select(["New friends", "Dating", "Casual sex"]), {include_blank: true}, { class: 'form-control' } %>
          </div>

          <% end %> <!-- fields_for @user.profile -->
        <%= f.submit "Create my account", class: "btn btn-primary" %>
      <% end %> <!-- form_for @user -->
    </div>

    </div>
    <div class="col-md-2"></div>
  </div> <!--- row --->
</section>

<script type="text/javascript">
  $('#user_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Please upload an image that is smaller (less than 5MB).');
    }
  });
</script>