<%= provide(:title, @profile.name) %>
<div class="inner page wide-style">

<!-- User profile pic, name, age, location-->
<%= render 'user_top' %>

<section>
	<div id="main">
  	<div class="row">
  	  <!-- User hobbies and interests -->
  	  <%= render 'interests' %>
  	  
  	  <!-- User education, diet, religion, etc -->
      <%= render 'profile' %>
    </div> <!-- row -->
  </div> <!-- main -->
</section>


<!-- Profile picture Boostrap model (pop up) -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= image_tag @profile.picture.url if @profile.picture? %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>