<footer>
  <div id="footer">
    <div class="row">

    	<!--About us-->
      <div class="three columns section">
        <h5><i class="icon-heart"></i> About us</h5>
        <p>Lorem ipsum dolor sit amet, has an nullam sadipscing ullamcorper, nisl graeci minimum usu no, ne est erat deseruisse vituperata.</p>
        <p><i class="icon-envelope"></i> &nbsp;<%= mail_to 'info@example.com' %><br>(123) 456-7890</p>
      </div>
      <!--end about us-->

      <!--Useful links-->
      <div class="three columns section">
        <h5>Useful links</h5>
        <ul class="no-bullet">
          <li><i class="icon-angle-right"></i> <a href="#">Terms and Conditions</a></li>
          <li><i class="icon-angle-right"></i> <a href="#">Support</a></li>
          <li><i class="icon-angle-right"></i> <a href="#">FAQ</a></li>
          <li><i class="icon-angle-right"></i> <a href="#">Privacy Policy</a></li>
        </ul>
      </div>
      <!--end useful links-->


      <!--Latest from blog-->
      <div class="three columns section">
        <h5>Latest from blog</h5>
        <ul class="latest-blog">
        	<li>
          	<span class="avatar">
          	  <%= link_to("#") do %>
                <%= image_tag("quote/user_quote_02.jpg") %>
              <% end %>
          	  </span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. <a href="#">read more</a></p>
          </li>
          <li>
          	<span class="avatar">
          	  <%= link_to("#") do %>
                <%= image_tag("quote/user_quote_02.jpg") %>
              <% end %>
          	</span>
            <p>Ut enim ad minim veniam, quis nostrud. <a href="#">read more</a></p>
          </li>
        </ul>
      </div>
      <!--end latest from blog-->

      <div class="twelve columns">
        <hr>
        <p>Programming Project 1, MatchMe, RMIT University</p>
      </div>
    </div>
  </div><!--end footer-->
</footer>