<footer>
  <div id="footer">
    <div class="row">

    	<!--About us-->
      <div class="three columns section">
        <h5><i class="icon-heart"></i> About us</h5>
        <p>MatchMe is a online dating, friendship, and social networking website that features match people by their interests and personal information.</p>
        <p><i class="icon-envelope"></i> &nbsp;<%= mail_to 'info@matchme.com' %><br>(03) 88996622</p>
      </div>
      <!--end about us-->

      <!--Useful links-->
      <div class="three columns section">
        <h5>Useful links</h5>
        <ul class="no-bullet">
          <li><i class="icon-angle-right"></i> <%= link_to "Terms", terms_path %></li>
          <li><i class="icon-angle-right"></i> <%= link_to "Support", support_path %></li>
          <li><i class="icon-angle-right"></i> <%= link_to 'FAQ', faq_path %></li>
          <li><i class="icon-angle-right"></i> <%= link_to 'Privacy', privacy_path %></li>
        </ul>
      </div>
      <!--end useful links-->


      <!--Latest from blog-->
      <div class="three columns section">
        <h5>Latest from blog</h5>
        <ul class="latest-blog">
        	<li>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. </p>
          </li>
          <li>

            <p>Ut enim ad minim veniam, quis nostrud.</p>
          </li>
        </ul>
      </div>
      <!--end latest from blog-->

      <!--Social media link-->
      <!--Icon: fontawesome.io-->
      <div class="three columns section">
        <h5>Social media</h5>
        <ul class="no-bullet">
        <li><i class="icon-angle-right"></i>  <a href="https://www.youtube.com/user/rmitmedia" class="hoverable"><span class="normal">Youtube</span><span class="hover"><i class="fa fa-youtube" aria-hidden="true"></i>Youtube</span></a> </li>
        <li><i class="icon-angle-right"></i>  <a href="https://twitter.com/RMIT" class="hoverable"><span class="normal">Twitter</span><span class="hover"><i class="fa fa-twitter" aria-hidden="true"></i>Twitter</span></a></li>
        <li><i class="icon-angle-right"></i>  <a href="https://www.facebook.com/RMITuniversity/" class="hoverable"><span class="normal">Facebook</span><span class="hover"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</span></a></li>
        <li><i class="icon-angle-right"></i>  <a href="https://www.instagram.com/rmituniversit" class="hoverable"><span class="normal">Instagram</span><span class="hover"><i class="fa fa-instagram" aria-hidden="true"></i>Instagram</span></a> </li>
        <li><i class="icon-angle-right"></i>  <a href="https://web.skype.com/" class="hoverable"><span class="normal">Skype</span><span class="hover"><i class="fa fa-skype" aria-hidden="true"></i>Skype</span></a></li>
        </ul>
      </div>
      <!-- End Social media-->

      <div class="twelve columns">
        <hr>
        <p>Programming Project 1, MatchMe, RMIT University</p>
      </div>
    </div>
  </div><!--end footer-->
</footer>