<header>
<div class="header-bg">

<div id="header">
	<div class="row">

    <!-- Main Navigation -->
    <div class="five columns push-four">
    	<div class="space-b-20 hide-for-small">&nbsp;</div>
      <nav class="top-bar">
        <ul>
          <!-- Toggle Button Mobile -->
          <li class="name">
            <h1><a href="#">MENU</a></h1>
          </li>
          <li class="toggle-topbar"><a href="#"><i class="icon-reorder"></i></a></li>
          <!-- End Toggle Button Mobile -->
        </ul>

        <section>
          
          
          <!-- Nav Section -->
            <% if logged_in? && has_profile? %>
            <ul class="button-ground radius right">
              <li><%= link_to "USERS", users_path %></li>
              <li class="has-dropdown">
                <a href="#"></i>ACCOUNT</a>
                <ul class="dropdown">
                  <% unless current_user.admin? %>
                    <li><%= link_to "Profile", current_user %></li>
                    <li><%= link_to "Edit Profile", edit_user_profiles_path(current_user) %></li>
                  <% end %>
                  <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                  <li><%= link_to "Log out", logout_path, method: "delete" %></li>
                </ul>
              </li>
            </ul>
            <% end %>
        </section>
          <!-- End Nav Section -->
      </nav>
    </div>
		<!-- end Main Navigation -->

    <!-- Logo -->
    <div class="four columns pull-five">
      <h1 id="logo">Very serious dating match making site
      	 
      	 <%= link_to(root_path) do %>
      	   <%= image_tag("logo.png", alt: "Logo") %>
      	 <% end %>
      </h1>
    <h4>
      Match Me
    </h4>
    
    </div>
    <!--end logo-->

  	<!-- Login/Register/Forgot username/password Modal forms
    	-  Hidded by default to be opened through modal
      -  For faster loading we put all forms at the bottom of page -->


      <!--Login buttons-->
    <div class="three columns login-buttons">
    	<div class="space-b-20 hide-for-small">&nbsp;</div>
      <ul class="button-group radius right">
        <% if !logged_in? %>
        
          <li>
            <%= link_to login_path, class: "small secondary button radius" do %>
              <i class="icon-group hide-for-medium-down"></i> LOG IN
            <% end %>
          </li>
      <!--end login buttons-->
      <!--Sign up buttons-->
          <li>
            <%= link_to signup_path, class: "small button radius" do %>
              <i class="icon-group hide-for-medium-down"></i> SIGN UP
            <% end %>
          </li>
      <!--end signup buttons-->
        <% end %>
      </ul>
    </div>

</header>